  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --background--principal: hsl(217, 54%, 11%);
    --background--card: hsl(216, 50%, 16%);
    --font--principal: hsl(215, 32%, 27%);
    --font--titulo: hsl(0, 0%, 100%);
    --font--principal: 'Outfit', sans-serif;
    --cores--principal1 : hsl(215, 51%, 70%);
    --cores--principal2:  hsl(178, 100%, 50%);
    --linha: hsl(215, 36%, 31%, 1);
}



body{
    background-color: var(--background--principal);
    font-family: var(--font--principal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background--card);
    border-radius: 12px;
    width: 360px;
    margin-top: 2em;
    box-shadow: 5px 5px 40px rgb(15, 15, 15);
    
}

.container__img{
    width: 20vw;
    border-radius: 20px;
    margin-top: 6px;
    padding: 1em;
    cursor: pointer;
    z-index: 1000;
}

.img__hover{
    background-color: hsl(178, 100%, 50%, 60%);
    height: 41vh;
    width: 20vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:calc(80px - 1em);
}

.container__img:hover{
    opacity: 20%;
}

.container__paragrafos{
    padding: 0 1.5em ;        
}

.container__titulo{
    color: var(--font--titulo);
}
.container__desc{
    color: var(--cores--principal1);
    font-weight: 300;
}

.container__valor{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    
}

.container__valor--desc{
    color: var(--cores--principal2);
    padding: 0 1em;

}

.container__valor--desc::before{
    content: url(../images/icon-ethereum.svg);
    padding: .5em;
}

.container__dia{
    color: var(--cores--principal1);
    padding: 0 1em;
}

.container__dia::before{
    content: url(../images/icon-clock.svg);
    padding: 0 .5em;
}



.linha{
    width: 90%;
    
}

.creator{
    display: flex;
    width: 80%;
    padding: 1em 1em 0 0 ;
    margin-bottom: 2em;
    align-items: center;
    border-top: .5px solid var(--linha);
    justify-content: flex-start;

    

}
.creator__img--avatar{
    width: 35px;
    height: 35px;
    border: 2px solid var(--font--titulo);
    border-radius: 100%;
}

.creator__name{
    color: var(--cores--principal1);
    padding: 0 .5em 0 1em;
}

.creator__name--id{
    color: var(--font--titulo);
}
.attribution{
    text-align: center;
    font-size: 16px;
    padding-top: .5em;
    
}    
.attribution a {
     color:var(--cores--principal1);
     text-decoration: none;
    } 

@media screen and  (max-width: 1440px) {
    .container{
        height: 90vh;
        margin-top: 5px;
        
    }

    .container__img{
        width: 85%;
        height: 45%;
        margin-top: 0;
        padding: 0;

    }

    .img__hover{
        opacity: 0;
        
    }

    .container__img:hover{
        opacity: 100% ;
    }
}




